.flex-nav{
    display: flex;
    
    padding: 0px 50px;
    color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.3 );
}
.logo{
    flex-basis: 20%;
}
.nav-manu{
    flex-basis: 60%;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.nav-list{
    display: flex;
    justify-content: center;
    list-style-type: none;

}
.nav-item{
    font-size: 20px;
    padding: 8px 20px;
    border: 2px solid #222;
    color: #222;
    margin: 0 10px;
}
.nav-account{
    flex-basis: 20%;
    display: flex;
    align-items: center;
      
}
.nav-btn{
    font-size: 20px;
    padding: 8px 20px;
    border: 2px solid #222;
    color: #222;
    margin: 0 10px;
    border-radius: 25px;
}