.flex-nav{
    display: flex;
    padding: 0 100px;
}
.logo-box{
    flex-basis: 20%;
}
.nav-manu{
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    justify-content: center;
    list-style-type: none;

}
.nav-item{
    font-size: 20px;
    padding: 8px 20px;
    border: 2px solid #fff;
    color: #fff;
    margin: 0 10px;
}
.nav-account{
    flex-basis: 20%;
    display: flex;
    align-items: center;
      
}
.nav-btn{
    font-size: 20px;
    padding: 8px 20px;
    border: 2px solid #fff;
    color: #fff;
    margin: 0 10px;
    border-radius: 25px;
}