body{
  width: 100%;
}
.container{
  width: 100%;
  background-color: crimson;
  padding: 20px 50px;
  box-shadow: 0 10px 20px #00000050;
 }
  .clear::after{
    content: '';
    display: table;
    clear: both;
  }
  h1{
     padding-left: 50px;
  }
  ul{
     padding: 0;
     float: right;
   }
   ul li{
    font-size: 25px;
    display: inline-block;
    padding: 8px 25px;
    margin: 0 10px;
    background-color: #fff;
    border: 1px solid #aaa;
    text-decoration:none;
    
  }
 .logo{
  float: left;
  flex-basis: 20%;
 }
 .middle{
  float: left;
  flex-basis: 60%;
}
.last ul li{
  float: left;
  flex-basis: 20%;
  border-radius: 20px;
}
li:hover{
  background-color: rgb(147, 155, 139);
}
    