h2{
    background-color: aqua;
    text-transform: capitalize;
    letter-spacing: 0px;
    text-align: center;
    margin: 100px 0;
    font-family: sans-serif;
    font-size: 90px;
    text-shadow: 15px -20px 08px #000;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}
p{ 
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(226, 43, 134);
    margin: 0px 30px 50px;
    text-indent: 50px;
    line-height: 32px;
    word-spacing: 15px;
}