#my-name{
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 0px;
    text-align: center;
    margin: 100px 0;
    text-shadow: 0px 0px 05px crimson;
}
.body{
    background-color: grey;
}
.color{
    color: crimson;
}
.border{
    border: 2px solid blueviolet;
}
.font-size{
    font-size: 50px;
}

