@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,600&display=swap');
*{
    box-sizing: border-box;
}
body{

    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
   text-decoration: none; 
}