body{
    height: 100%;
    background: paleturquoise;

}
nav{
    width: 250px;
    position: absolute;
    top: 0px;
    bottom: 0;
    background: rgba(0, 0, 0,0.1);
    border-radius: 10px;
    box-shadow: 2px 5px 10px;
}
nav ul{
    position: absolute;
    list-style-type: none;
    position: absolute;

}
nav ul li a{
    display: flex;
    align-items: center;
    font-size: 1.15em;
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    padding:10px 30px ;
    height: 50px;
    
    border-radius: 0px 30px;

}
nav ul li a:hover{
    background: rgba(0, 0, 0, 0.7);
     color: seashell;  
}
nav ul ul{
background-color:salmon;
position: absolute;
left:140px;
width: 200px;
top: 0;
display: none;
border-radius: 5px;
box-shadow: 2px 2px 10px ;
}
nav ul span{
    position: absolute;
    right: 20px;
    font-size: 1.15em;

}
nav ul .dropdown{
    position: relative;
    
}
nav ul .dropdown:hover >ul{
display:initial;
}  