body{
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.block{
    height: 200px;
    width:200px;
    display: block;
    background-color: aqua;
}
.inline-block
{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: rgb(21, 5, 252);
}
