body {
    background-color: rgb(12, 156, 60);
  }
  h1 {
    text-align: center;
    background-color: aqua;
    color: blue;
  }
  p {
    height: 300px;
    width: 300px;
    font-size: 30px;
    text-align: center;
    color: red;
    background-color: blueviolet;
    padding:50px;
    margin-left: 300px;
  }